<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
       <center> <img src='/img/1.png'/></center>
       <p>Hello...MY self Ajay. I am the creator of this website</p>
       </div>
        {{>footer}}
        
    </body>
</html>