<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    </head>
    <body>
        <div class="main-content">{{>header}}
        <p>Use this site to search the weather</p>
       
        <form class="form-inline form"style="width:370px; margin:0 auto;">
            <div class="form-group mx-sm-3 mb-2">
            
            <input type="text" class="form-control" id="inputPassword2" placeholder="Search Place">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
            
            
        </form>
        <p id="message1"></p>
        <p id="message2"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>