h1{
    text-align: center;
    color:#333;
}
img{
   
    height:250px;
    width:300px;
}
.main-content{
   height:600px;
}
.footer-myself{
    border:1px solid #cfcbb1;
}
p{
    text-align: center;
    font-size:17.5px;
}

body{
    background: url('/img/2.jpg');
    background-size: cover;
    font-family: 'helvatica';
}
