h1{
    text-align: center;
    color:white;
}
img{
   
    height:250px;
    width:300px;
}
.main-content{
   height:570px;
}

p{
    color:white;
    text-align: center;
    font-size:15px;
}

body{
    background: url('/img/2.jpg');
    background-size:cover;
   
    font-family: 'helvatica';
}

.form{
    color:white;
}
a{
    padding:11px;
    display:inline;
    
    
}
a:hover {
    
    cursor: pointer;
    
  }